.col-md-16.col-lg-4.filter
    a(href="#", class="show-title-js underline__link hidden-lg") Выбрать по параметрам
    form.show-item-js.p-relative
        .filter-count.filter-count-js
            .input-group
                input(type="text", id="count" class="form-control", value="Выбрано 149", disabled)
                .input-group-btn
                    a(href="#").btn.btn-success Показать
        .input-group.padbot10.col-xs-16.ui-widget
            input(type="text", class="form-control tags", placeholder="Поиск по артикулу")
            .empty-message
            .input-group-btn
                button.btn.btn-success Искать
        .clearfix
        .accordion
            ul
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Производитель
                    .accordion-item.accordion-item-js
                        .checkbox
                            input(type="checkbox", id="adata")
                            label(for="adata") ADATA
                        .checkbox
                            input(type="checkbox", id="corsair")
                            label(for="corsair") Corsair
                        .checkbox
                            input(type="checkbox", id="iconik")
                            label(for="iconik") Iconik
                        .checkbox
                            input(type="checkbox", id="kingston")
                            label(for="kingston") Kingston
                        .checkbox
                            input(type="checkbox", id="leef")
                            label(for="leef") Leef
                        .checkbox
                            input(type="checkbox", id="power")
                            label(for="power") Power
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Цена
                    .accordion-item.accordion-item-js
                        //.checkbox.margtop0
                        //    input(type="checkbox", id="default")
                        //    label(for="default") По умолчанию
                        //p.text-success.margbot0
                        //    b Текущий курс USD:
                        //        span.text-info  67.79 руб
                        //.radio.radio-inline
                        //    input(type="radio", id="rub", name="course", checked)
                        //    label(for="rub") В рублях
                        //.radio.radio-inline
                        //    input(type="radio", id="usa", name="course")
                        //    label(for="usa") В долларах
                        .slider-title.product_quantity_js.padtop20
                            .inlineb.v-middle от
                            input(type="text", class="start col-xs-6 fl-none inlineb v-middle", readonly)
                            .inlineb.v-middle до
                            input(type="text", class="end col-xs-6 fl-none inlineb v-middle", readonly)
                        .slider-range
                        .slider-desc.clearfix.padbot10
                            span.pull-left.text-info 1 000
                            span.pull-right.text-info 120 000
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Интерфейс
                    .accordion-item.accordion-item-js
                        .checkbox
                            input(type="checkbox", id="adata1")
                            label(for="adata1") ADATA
                        .checkbox
                            input(type="checkbox", id="corsair1")
                            label(for="corsair1") Corsair
                        .checkbox
                            input(type="checkbox", id="iconik1")
                            label(for="iconik1") Iconik
                        .checkbox
                            input(type="checkbox", id="kingston1")
                            label(for="kingston1") Kingston
                        .checkbox
                            input(type="checkbox", id="leef1")
                            label(for="leef1") Leef
                        .checkbox
                            input(type="checkbox", id="power1")
                            label(for="power1") Power
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Скорость чтения данных
                    .accordion-item.accordion-item-js
                        .checkbox
                            input(type="checkbox", id="adata2")
                            label(for="adata2") ADATA
                        .checkbox
                            input(type="checkbox", id="corsair2")
                            label(for="corsair2") Corsair
                        .checkbox
                            input(type="checkbox", id="iconik2")
                            label(for="iconik2") Iconik
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Скорость записи данных
                    .accordion-item.accordion-item-js
                        .checkbox
                            input(type="checkbox", id="adata3")
                            label(for="adata3") ADATA
                        .checkbox
                            input(type="checkbox", id="corsair3")
                            label(for="corsair3") Corsair
                        .checkbox
                            input(type="checkbox", id="iconik3")
                            label(for="iconik3") Iconik
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  U3 Smart Drive
                    .accordion-item.accordion-item-js Текст
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Датчик считывания отпечатка пальца
                    .accordion-item.accordion-item-js Текст
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Защита паролем
                    .accordion-item.accordion-item-js Текст
                li.accordion-title-js
                    .accordion-title.clearfix
                        i.fa.fa.lg.text-success.pull-left
                        span.pull-left  Доп. параметры
                    .accordion-item.accordion-item-js Текст
                li.accordion-title-js
                    .accordion-title.clearfix.text-center
                        input(type="submit", value="Принять", class="btn btn-success")
                        input(type="reset", value="Сбросить", class="btn btn-info margleft10")
