ul.pager.padtop40
    li.previous
        a(href='#')
            i &larr;
        a(href='#') Предыдущая новость
    li.next
        a(href='#')
            i &rarr;
        a(href='#') Следующая новость