.slide.padtop40
    .container
        .bxslider
            ul.slideshow.font-lg
                - for (var x = 1; x <= 4; x++)
                    li
                        .col-md-9.col-sm-16.col-md-push-7
                            .row
                                img(src="images/slide_1.png")
                        .col-md-7.col-sm-16.col-md-pull-9
                            .padtop30.padbot30
                                h1 Полное восстановление IPTV приставок Билайн
                                p Предоставляемые услуги - полная диагностика,
                                    | перекомплектация, чистка, обновление ПО и ремонт
                                    | бывшего в употреблении IPTV оборудования
                                .text-center.col-xs-9.center-block
                                    button.btn.btn-success.btn-inverse.btn-md.btn-block Смотреть