.user-info.padbot40.clearfix.col-sm-3.font-xmd
    .avatara
        img(src="images/ava.jpg", class="img-thumbnail")
    .clearfix
    div
        .row
            .col-sm-16
                p.text-info
                    b Иванов Иван Иванович
                p.result__article Номер:
                    span
                        b  1325489
            .user-menubar
                p.col-xxs-12.col-xs-8.col-sm-16
                    a(href="#", class="")
                        i.fa.i.fa.fa-credit-card.fa-lg &nbsp;
                        | Персональные данные
                p.col-xxs-12.col-xs-8.col-sm-16
                    a(href="#", class="")
                        i.fa.i.fa.fa-wrench.fa-lg &nbsp;
                        | Настройки
                p.col-xxs-12.col-xs-8.col-sm-16
                    a(href="#", class="active")
                        i.fa.i.fa.fa-shopping-cart.fa-lg &nbsp;
                        | Мои заказы
                p.col-xxs-12.col-xs-8.col-sm-16
                    a(href="#", class="")
                        i.fa.i.fa.fa-user.fa-lg &nbsp;
                        | Ваш менеджер