
extends layouts/_default


block content
    - var title = { description: '404' }
    #main.container.padbot50
        .error.text-center.padtopbot100
            h1 404
            h3 ошибка
            p.text-info запрашиваемая страница не найдена
        .clearfix