
extends layouts/_empty


block content
    .error(style="font-family:Arial;text-align:center;padding-top: 150px;")
        h1(style="font-weight:100;font-size:130px;line-height:1;margin:0;") 500
        h3(style="font-weight:100;font-size:40px;margin:0;") ошибка на сервере
