
extends layouts/_default


block content
    - var title = { description: 'Корзина' }
    include modules/_breadcrumbs
    #main.container.padbot50
        div
            .content.padtopbot20
                include modules/_user-info
                form.col-xs-16
                    .padtop10.busket.clearfix
                        h3.pull-left  У вас в корзине
                            b  33 позиции
                            |  на общую сумму
                            b  4 185 250 рублей
                        a(href="#").text-info.pull-right.font-md.padtop20.delete__js
                            i.fa.fa-close.fa-lg.text-danger &nbsp;
                            | Очистить корзину
                        .clearfix
                        table.table.table-string.hidden-sm.hidden-xs.block__delete__js
                            thead
                                tr
                                    th Артикул
                                    th Наименование
                                    th Наличие
                                    th Транзит<14
                                    th Транзит>14
                                    th Резерв
                                    th Цена  руб
                                    th Кол-во
                                    th Сумма
                                    th Удалить
                            tbody
                                - for (var x = 0; x < 4; x++)
                                    tr
                                        td.busket__article-item WC4260sp00
                                        td.busket__name-item
                                            a.underline__link Canon PowerShot SX60 HS
                                        td.busket__availability-item 12
                                        td.busket__transitm-item 0
                                        td.busket__transitb-item 0
                                        td.busket__reserv-item 3
                                        td.busket__price-item 1 323 877
                                        td.busket__quantity-item
                                            .input-group.product_quantity_js
                                                a(href="#", class="btn btn-default input-group-addon inc") -
                                                input(type="text", value="1", class="text-center quantity form-control", maxlength="3")
                                                a(href="#", class="btn btn-default input-group-addon dec") +
                                        td.busket__summ-item.font-lg 2 423 877
                                        td.busket__del-item.busket__delete-js
                                            a(href="#")
                                                i.fa.fa-close.fa-lg.text-danger
                            tfoot
                                tr
                                    td(colspan="6")
                                    td(colspan="2")
                                        a(href="#", class="btn btn-default btn-log")
                                            b Пересчитать
                                    td(colspan="2", class="font-xlg") Итого
                                        b  185 250 Р
                            .table-catalog.hidden-md.hidden-lg.block__delete__js
                                - for (var x = 0; x < 2; x++)
                                    .news.margbot20
                                        div.font-lg
                                            a(href="#").underline__link Canon PowerShot SX60 HS
                                        div
                                            p.show.padtop10.padbot0.text-info Аналоги:
                                            - for (var y = 0; y < 4; y++)
                                                button.btn.btn-default.btn-sm.margbot10 130К60230
                                        ul.table_of_contents.list-unstyled
                                            li.clearfix
                                                span Артикул
                                                span.text-info WC4260sp00
                                            li.clearfix
                                                span Наличие
                                                span.text-info 12
                                            li.clearfix
                                                span Транзит <14
                                                span.text-info 0
                                            li.clearfix
                                                span Транзит >14
                                                span.text-info 0
                                            li.clearfix
                                                span Резерв
                                                span.text-info 3
                                            li.clearfix
                                                span Цена
                                                span.text-info
                                                    b 235 784
                                            li.clearfix
                                                span Кол-во
                                                span.text-info.product_quantity-mobile
                                                    .input-group.product_quantity_js
                                                        a(href="#", class="btn btn-default btn-sm input-group-addon inc") -
                                                        input(type="text", value="1", class="text-center quantity form-control", maxlength="3")
                                                        a(href="#", class="btn btn-default btn-sm input-group-addon dec") +
                                            li.clearfix
                                                span Сумма
                                                span.text-info
                                                    b 235 784
                                        p.text-right.busket__delete-js
                                            a(href="#")
                                                i.fa.fa-close.fa-lg.text-danger
                                                |  Удалить
                                .padbot40.clearfix
                                    .col-xxs-12.inlineb.margright30.margbot20
                                        a(href="#", class="btn btn-default btn-log")
                                            b Пересчитать
                                    .col-xxs-12.inlineb.margbot20
                                        span.text-info.font-xlg Итого
                                            b  185 250 Р
                    .padtop40.busket.clearfix
                    h3.pull-left  У вас в корзине
                        b  33 позиции
                        |  на общую сумму
                        b  4 185 250 рублей
                    .clearfix
                    table.table.table-string.hidden-sm.hidden-xs.block__delete__js
                        thead
                            tr
                                th Артикул
                                th Наименование
                                th Наличие
                                th Транзит<14
                                th Транзит>14
                                th Резерв
                                th Цена  руб
                                th Кол-во
                                th Сумма
                                th Удалить
                        tbody
                            - for (var x = 0; x < 4; x++)
                                tr
                                    td.busket__article-item WC4260sp00
                                    td.busket__name-item
                                        a.underline__link Canon PowerShot SX60 HS
                                    td.busket__availability-item 12
                                    td.busket__transitm-item 0
                                    td.busket__transitb-item 0
                                    td.busket__reserv-item 3
                                    td.busket__price-item 1 323 877
                                    td.busket__quantity-item
                                        .input-group.product_quantity_js
                                            a(href="#", class="btn btn-default input-group-addon inc") -
                                            input(type="text", value="1", class="text-center quantity form-control", maxlength="3")
                                            a(href="#", class="btn btn-default input-group-addon dec") +
                                    td.busket__summ-item.font-lg 2 423 877
                                    td.busket__del-item.busket__delete-js
                                        a(href="#")
                                            i.fa.fa-close.fa-lg.text-danger
                        tfoot
                            tr
                                td(colspan="4").accordion
                                    .accordion-title-js
                                        a(href="#", class="accordion-title-js_basket") Добавить товары по артикулу
                                        .accordion-item-js
                                            label Добавить товары по артикулу
                                            .input-group.pull-right.ui-widget
                                                input(type="text", class="form-control tags", placeholder="Поиск по артикулу")
                                                .empty-message
                                                .input-group-btn
                                                    button.btn.btn-success.btn-block Добавить
                                td(colspan="2")
                                td(colspan="2")
                                    a(href="#", class="btn btn-default btn-log")
                                        b Пересчитать
                                td(colspan="2", class="font-xlg") Итого
                                    b  185 250 Р
                        .table-catalog.hidden-md.hidden-lg.block__delete__js
                            - for (var x = 0; x < 2; x++)
                                .news.margbot20
                                    div.font-lg
                                        a(href="#").underline__link Canon PowerShot SX60 HS
                                    div
                                        p.show.padtop10.padbot0.text-info Аналоги:
                                        - for (var y = 0; y < 4; y++)
                                            button.btn.btn-default.btn-sm.margbot10 130К60230
                                    ul.table_of_contents.list-unstyled
                                        li.clearfix
                                            span Артикул
                                            span.text-info WC4260sp00
                                        li.clearfix
                                            span Наличие
                                            span.text-info 12
                                        li.clearfix
                                            span Транзит <14
                                            span.text-info 0
                                        li.clearfix
                                            span Транзит >14
                                            span.text-info 0
                                        li.clearfix
                                            span Резерв
                                            span.text-info 3
                                        li.clearfix
                                            span Цена
                                            span.text-info
                                                b 235 784
                                        li.clearfix
                                            span Кол-во
                                            span.text-info.product_quantity-mobile
                                                .input-group.product_quantity_js
                                                    a(href="#", class="btn btn-default btn-sm input-group-addon inc") -
                                                    input(type="text", value="1", class="text-center quantity form-control", maxlength="3")
                                                    a(href="#", class="btn btn-default btn-sm input-group-addon dec") +
                                        li.clearfix
                                            span Сумма
                                            span.text-info
                                                b 235 784
                                    p.text-right.busket__delete-js
                                        a.text-info(href="#")
                                            i.fa.fa-close.fa-lg.text-danger
                                            |  Удалить
                            .padbot40.clearfix
                                .col-xxs-12.inlineb.margright30.margbot20
                                    a(href="#", class="btn btn-default btn-log")
                                        b Пересчитать
                                .col-xxs-12.inlineb.margbot20
                                    span.text-info.font-xlg Итого
                                        b  185 250 Р
                            div.accordion
                                a(href="#", class="accordion-title-js") Добавить товары по артикулу
                                .accordion-item-js
                                    label Добавить товары по артикулу
                                    .input-group.pull-right.ui-widget
                                        input(type="text", class="form-control tags", placeholder="Поиск по артикулу")
                                        .empty-message
                                        .input-group-btn
                                            button.btn.btn-success.btn-block Добавить
                    .padtop40.busket.clearfix
                        .form-group
                            .col-sm-9.clearfix.row
                                label.font-md.font-wd Комментарии к заказу
                            .col-sm-9.row
                                textarea
                    .padtop40.busket.clearfix
                        .pull-right.margbot20
                            button(type="submit", class="btn btn-success btn-md") Отправить менеджеру
                        .pull-right.margright10.margbot20
                            button(type="submit", class="btn btn-default btn-md") Сохранить заказ

        .clearfix

