
extends layouts/_default


block content
    - var title = { description: 'Информационная рассылка' }
    include modules/_breadcrumbs
    #main.container.padbot50
        div
            .content.padtopbot20
                .text-center.padtop40
                   p Вы успешно подписались на рассылку!
        .clearfix

