
extends layouts/_letter


block content
    tr
        td(align="left")
            span(style="font-size: 26px; color: #000;") Здравствуйте, Иванов Иван Иванович
    tr
        td(height="20", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="20", width="5")
    tr
        td(align="left") Вы запросили восстановление пароля на сайте:&nbsp;
            a(href="#", style="color: #00ac5c; text-decoration: underline;") superwave.ru
    tr
        td(height="24", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="24", width="5")
    tr
        td(align="left") Для восстановления перейдите по:&nbsp;
            a(href="#", style="color: #00ac5c; text-decoration: underline;") superwave.ru
    tr
        td(height="42", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="42", width="5")
    tr
        td(align="left")
            span(style="color: #000; font-weight: 600;") Внимание!
            |  Если вы не являетесь инициатором процедуры регистрации, просто удалите это письмо».
            br
            | Это письмо было создано автоматически, не отвечайте на него.
    tr
        td(height="230", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="230", width="5")