
extends layouts/_letter


block content
    tr
        td(align="left")
            span(style="font-size: 26px; color: #000;") Здравствуйте, Иванов Иван Иванович
    tr
        td(height="18", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="18", width="5")
    tr
        td(align="left")
            span(style="font-size: 18px; color: #000; font-weight: 600;") Ваш статус на сайте был изменен
    tr
        td(height="24", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="24", width="5")
    tr
        td(align="left")
            span(style="color: #000;") При авторизации теперь вам доступна следующая информация:
            br
            span Априори, созерцание естественно рефлектует конфликт. Априори, созерцание естественно рефлектует конфликт. Априори, созерцание естественно рефлектует конфликт.
    tr
        td(height="24", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="24", width="5")
    tr
        td(align="left")
            span(style="color: #000;") Вы можете осуществлять следующие действия:
            br
            span Априори, созерцание естественно рефлектует конфликт. Априори, созерцание естественно рефлектует конфликт. Априори, созерцание естественно рефлектует конфликт.
    tr
        td(height="42", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="42", width="5")
    tr
        td(align="left")
            span(style="color: #000; font-weight: 600;") Внимание!
            |  Если вы не являетесь инициатором процедуры регистрации, просто удалите это письмо».
            br
            | Это письмо было создано автоматически, не отвечайте на него.
    tr
        td(height="230", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="230", width="5")