
extends layouts/_letter


block content
    tr
        td(align="left")
            span(style="font-size: 21px; color: #272829;") Заголовок для акции сайта Superwave
    tr
        td(height="34", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="34", width="5")
    tr
        td(align="left")
            span(style="font-size: 15px;font-weight: 300;") 27 июля 2015
    tr
        td(height="18", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="18", width="5")
    tr
        td(height="390", colspan="3" align="center")
            img(src="images/news_img.jpg", alt="", border="0", height="390", width="780")
    tr
        td(height="17", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="17", width="5")
    tr
        td(align="left")
            span(style="color: #000; font-weight: 700; font-size: 15px") Срок проведения акции:&nbsp;
                span(style="color: #00ac5c;") с 12 декабря 2014  по 14 декабря 2014
    tr
        td(align="left" style="line-height: 24px;color: #666;font-size: 16px;font-weight: 300;")
            p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                | сути, контент стабилизирует сублимированный поведенческий таргетинг. Организация
                | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                | на опыте повседневного применения.
            p К тому же точечное воздействие последовательно транслирует фирменный медиабизнес,
                | отвоевывая рыночный сегмент. Рекламное сообщество масштабирует креативный бренд,
                | учитывая современные тенденции. Более того, ассортиментная политика предприятия
                | охватывает анализ зарубежного опыта.
    tr
        td(height="82", colspan="3")
            img(src="images/empty.png", alt="", border="0", height="82", width="5")