
extends layouts/_default


block content
    - var title = { description: 'Восстановление пароля' } 
    include modules/_breadcrumbs
    #main.container.padbot50
        div
            .content.padtopbot20
                .col-xs-16
                    p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По сути, контент стабилизирует сублимированный
                        | поведенческий таргетинг. Организация практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                        | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан на опыте повседневного применения.
                    .clearfix
                    form.padtopbot40.col-xxs-12.col-xs-14.col-sm-14.col-md-8.center-block
                        .form-group.clearfix
                            .col-sm-3.text-right
                                label E-mail:
                            .col-sm-10
                                input(type="email", required)
                        .form-group.clearfix
                            .col-sm-3
                            .col-sm-6.text-center-xs
                                a(href="#", class="btn btn-success", type="submit") Отправить
        .clearfix

