
extends layouts/_default


block content
    - var title = { description: 'Восстановление пароля' }
    include modules/_breadcrumbs
    #main.container.padbot50
        div
            .content.padtopbot20
                .text-center.padtop40.col-xxs-12.col-xs-14.col-sm-14.col-md-12.center-block
                    h2 Данный e-mail не найден.
                    h4 Пожалуйста, зарегистрируйтесь на сайте.
        .clearfix

