
extends layouts/_default


block content
    - var title = { description: 'Каталог штампов' }
    include modules/_breadcrumbs
    #main.container.padbot50
        div
            .content.padtopbot20.type__text
                .col-xs-16.padbot70
                    p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По сути, контент стабилизирует сублимированный
                        | поведенческий таргетинг. Организация практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                        | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан на опыте повседневного применения.
                    p Основные преимущества:
                    ol
                        li Вам не нужно оплачивать разработку и изготовление штампа (2 000-10 000 р.);
                        li Вам не нужно ждать изготовления штампа (3-5 дней);
                        li Вы сокращаете время изготовления заказа, разложив изделия на лист.
                .clearfix
                .col-xs-14.center-block
                    - for (var y = 0; y < 4; y++)
                        - for (var x = 1; x < 5; x++)
                            .col-xxs-6.col-xs-5.col-sm-4.text-center.padbot60
                                img(src="images/stamp_#{x}.jpg", alt="", class="img-circle img-thumbnail catalog-img")
                                p.text-info Конверты, кармашки,
                                    br
                                    |  футляры, буклеты,
                                    br
                                    |  папки
                .clearfix
        .clearfix

