
extends layouts/_default


block content
    - var title = { description: 'Типичная страница' }
    include modules/_breadcrumbs
    #main.container.padbot50
        .col-xs-16
            .content.padtopbot20.aticle_post
                .col-sm-10.center-block
                    ul.bxslider.bxslider__img
                        - for (var x = 0; x < 10; x++)
                            li
                                a(href="images/news_img.jpg", class="fancybox", rel="gallery1")
                                    img(src="images/news_img.jpg", alt="", itemprop="image")
                    .col-xs-15.center-block.padbot20
                        #bx-pager.bxslider
                            - for (var x = 0; x < 10; x++)
                                a(href="#" data-slide-index="#{x}")
                                    img(src="images/slider_mini_#{x}.jpg", alt="")
                p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                p К тому же точечное воздействие последовательно транслирует фирменный медиабизнес,
                    | отвоевывая рыночный сегмент. Рекламное сообщество масштабирует креативный бренд,
                    | учитывая современные тенденции. Более того, ассортиментная политика предприятия
                    | охватывает анализ зарубежного опыта.
                p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                p К тому же точечное воздействие последовательно транслирует фирменный медиабизнес,
                    | отвоевывая рыночный сегмент. Рекламное сообщество масштабирует креативный бренд,
                    | учитывая современные тенденции. Более того, ассортиментная политика предприятия
                    | охватывает анализ зарубежного опыта.
                p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                p К тому же точечное воздействие последовательно транслирует фирменный медиабизнес,
                    | отвоевывая рыночный сегмент. Рекламное сообщество масштабирует креативный бренд,
                    | учитывая современные тенденции. Более того, ассортиментная политика предприятия
                    | охватывает анализ зарубежного опыта.
                .col-sm-8.type__text.padtop20
                    h2 Заголовок H2
                    ul
                        - for (var x = 0; x < 2; x++)
                        li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                            ul
                                li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                                li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                        - for (var y = 0; y < 3; y++)
                        li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                .col-sm-8.padtop20
                    h1 Заголовок H1
                    h2 Заголовок H2
                    h3 Заголовок H3
                    h4 Заголовок H4
                    h5 Заголовок H5
        .clearfix

