
extends layouts/_default


block content
    - var title = { description: 'Вакансии' }
    include modules/_breadcrumbs
    #main.container.padbot50
        include modules/_sidebar
        .col-sm-pull-5.col-sm-10.col-xs-16
            .content.padtopbot20
                p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует сублимированный поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                p
                    | Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует сублимированный поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                .padtop30
                    a(href="#feedback_form", class="popup__js btn btn-success") Отправить резюме
        .clearfix

