
extends layouts/_default


block content
    - var title = { description: 'Менеджер по обеспечению качества' }
    include modules/_breadcrumbs
    #main.container.padbot50
        include modules/_sidebar
        .col-sm-pull-5.col-sm-10.col-xs-16
            .content.padtopbot20
                h3 Требования:
                p Высшее образование по специальности бухгалтер. экономист Опыт работы на данном участке
                    | от 2-х лет Опыт работы в режиме многозадачности
                h3 Обязанности:
                p Осуществляет сверку и контроль наличия просроченной дебиторской задолженности со сроком
                    | возникновения более 90 дней по данным бухгалтерского учета и данным Проверяет
                    | актуальность бухгалтерских расходов Осуществляет контроль за отражением в бухгалтерском
                    | учете возвратов товара от покупателей, актов зачета взаимных требований по всем регионам
                    | на основании первичных документов Осуществляет контроль за корректностью отражения в
                    | бухгалтерском учете обеспечительных платежей, перечисляемых в качестве обеспечения
                    | государственного контракта на основании отчетов Осуществляет контроль за полнотой и
                    | правильностью выгрузки документов реализации товаров и услуг из управленческой базы
                h3 Условия:
                p Уровень дохода обсуждаем с финальным кандидатом Трудоустройство по ТК РФ, "белая"
                    | заработная плата График работы с 10:00 до 19:00 Место работы: в Бизнес-центре, в 5-ти минутах
                    | ходьбы от ст.м.Электросила на ул.Решетникова Дружный коллектив, развитая корпоративная
                    | культур
                h3 Контакты
                p Уровень дохода обсуждаем с финальным кандидатом Трудоустройство по ТК РФ
            include modules/_feedback
        .clearfix

